input {
    background-color: #2A9D8F;
    border-radius: 5px;
    text-align: center;

}

.faixa {
    position: absolute;
    background-color: #2A9D8F;
    width: 100%;
    height: 10%;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    position: absolute;
    color: white;
    left: 40%;

}

.cart {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    font-size: 50%;
    color: rgba(0, 0, 0, 0.336);
    left: 105%;
    top: 40%;

}

.carrinho {
    position: absolute;
    width: 30%;
    top: -20%;
    left: 90%;
}

.meu {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    font-size: 100%;
    margin-top: 5%;
}

.product {
    position: absolute;
    top: 20%;
    left: 1%;
    width: 98%;
    height: 20%;
    border-radius: 15px;
    background-color: #d9d9d9;
}

.imaroma {
    position: absolute;
    height: 90%;
    left: 2%;
    top: 5%;
    border-radius: 5px;
}

.produto {
    position: absolute;
    left: 8%;
    top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.valor {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: grey;
    left: 90%;
    top: 80%;
    text-align: center;
    border-radius: 5px;
}

.quantidade {
    position: absolute;
    width: 150px;
    height: 20px;
    background-color: grey;
    left: 88%;
    top: 5%;
    text-align: center;
    border-radius: 5px;
}

.frete {
    position: absolute;
    width: 50%;
    height: 40%;
    top: 45%;
    left: 18%;
}

.frete2 {
    position: absolute;
    width: 50%;
    height: 40%;
    top: 45%;
}

.int {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
}

.cep {
    position: relative;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
    top: 5%;
}

.total {
    position: relative;
    width: 190px;
    height: 40px;
    text-align: center;
    font-size: 120%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 12%;
    left: 35%;
    border-radius: 2px;
}

.pay {
    position: absolute;
    top: 70%;
    left: 30%;
}

.pay2 {
    position: absolute;
    top: 70%;
    left: 20%;
}



.pagamento {
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 30%;
    margin-bottom: 10%;
}

.pagamento2 {
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    margin-bottom: 10%;
}

.pagamentofundo {
    position: absolute;
    width: 40%;
    height: 55%;
    background-color: #d9d9d9;
    top: 45%;
    left: 50%;
    border-radius: 5vh;
}

.titulo {
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 20%;
    margin-bottom: 10%;
}

.titulo2 {
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 35%;
    margin-bottom: 10%;
}

.ncard {
    position: relative;
    left: 15%;
    margin-bottom: 3%;
}

.cvv {
    position: relative;
    left: 15%;
    margin-bottom: 3%;
}

.nome {
    position: relative;
    left: 15%;
    margin-bottom: 3%;
}

.confirma {
    position: relative;
    left: 40%;
    margin-top: 5%;
}

.qr {
    position: relative;
    width: 150px;
    left: 30%;
}

.confirma2 {
    position: relative;
    left: 5%;
    top: 10%;
    margin-top: 5%;
}

.confirma3 {
    position: relative;
    top: 10%;
}

.bol {
    position: relative;
    width: 300px;
    left: 25%;
}